absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
arviz==0.12.1
ase==3.22.0
astunparse==1.6.3
async-timeout==4.0.2
beautifulsoup4==4.11.1
blis==0.7.7
blosc==1.10.6
boto==2.49.0
boto3==1.10.50
botocore==1.13.50
cachetools==5.0.0
catalogue==2.0.7
cftime==1.5.0
Chameleon==3.10.0
charset-normalizer==2.0.12
cleo==0.8.1
clikit==0.6.2
cmake==3.22.0
configparser==5.2.0
crashtest==0.3.1
cycler==0.10.0
cymem==2.0.6
datasets==2.1.0
dill==0.3.4
docutils==0.15.2
efficientnet==1.0.0
expecttest==0.1.3
fastai==2.5.3
fastcore==1.3.29
fastdownload==0.0.5
fastprogress==1.0.2
flatbuffers==1.12
frozenlist==1.3.0
fsspec==2022.3.0
gast==0.4.0
gensim==3.8.3
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
huggingface-hub==0.5.1
humanize==4.0.0
idna==2.8
imageio==2.5.0
imgaug==0.3.0
importlib-metadata==4.11.3
intel-openmp==2022.0.2
it4i.portal.clients==0.8.7
jeepney==0.4.3
jmespath==0.9.4
joblib==0.14.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
langcodes==3.3.0
lxml==4.4.1
Markdown==3.1.1
matplotlib==3.1.1
mkl==2022.0.2
multidict==6.0.2
multiprocess==0.70.12.2
murmurhash==1.0.6
netCDF4==1.5.7
networkx==2.3
nlg-eval @ git+https://github.com/Maluuba/nlg-eval.git@7f7993035a2f4729a15d20040fd904933ea58767
nltk==3.4.5
numpy==1.19.5
oauthlib==3.2.0
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
opt-einsum==3.3.0
packaging==20.9
pandas==1.4.3
pastel==0.2.1
pathos==0.2.8
pathy==0.6.1
patsy==0.5.2
pep517==0.12.0
Pillow==6.1.0
pipreqs==0.4.11
pox==0.3.0
ppft==1.6.6.4
preshed==3.0.6
progressbar==2.5
protobuf==3.20.0
psutil==5.6.7
ptyprocess==0.6.0
pyarrow==7.0.0
pyasn1-modules==0.2.8
pycent==1.0
pydantic==1.8.2
pymc3==3.11.0
pyparsing==2.4.2
python-dateutil==2.8.2
python-docx==0.8.10
PyWavelets==1.0.3
PyYAML==6.0
requests==2.22.0
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
s3transfer==0.2.1
sacremoses==0.0.49
scikit-image==0.15.0
scikit-learn==0.22.1
scipy==1.8.1
SCons==4.2.0
sentencepiece==0.1.96
Shapely==1.7.1
simplejson==3.17.6
sisl==0.11.0
six==1.15.0
smart-open==1.8.4
soupsieve==2.3.2.post1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.2
tabulate==0.8.9
TB2J==0.6.5
tbb==2021.5.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
Theano==1.0.5
Theano-PyMC==1.1.0
thinc==8.0.15
tokenizers==0.5.0
tomli==1.2.2
tomlkit==0.7.0
torch==1.10.0+cu111
torchaudio==0.10.0+rocm4.1
torchvision==0.11.1
tqdm==4.64.0
transformers==2.5.0
typer==0.4.1
typing-extensions==3.7.4.3
urllib3==1.25.11
wasabi==0.9.1
Werkzeug==2.1.1
wrapt==1.12.1
xarray==2022.3.0
xarray-einstats==0.3.0
xdg==5.1.1
xxhash==3.0.0
yarg==0.1.9
yarl==1.7.2
